.conteudo{
	background: blue;
	border: 1px solid gray;
	width:  200px;
	height: 200px;
	margin: 10px;
	float: left;

}
.conteudo1{
	background: red;
	border: 1px solid gray;
	width:  200px;
	height: 200px;
	margin: 10px;
	

}
body{
	background: f4f4f4;
}

.clear{
	clear: both;
}


#principal{
	width:  920px;
	
}
.noticia{
	background: #e5e5e5;
	padding: 5px;
	width: 280px;
	margin: 7px;
	float: left;
}
.imagem-galeria{
	background: white;
	width: 265px;
	padding: 5px;
	float: left;
	margin: 15px;

}